$width-root:100vw;
$height-root:100vh;
$color-black:black;
$color-white:white;
$solid-black:1px solid black;
$solid-gray:1px solid #888;
$solid-red:1px solid #613c3c;
$width-per:45%;
$height-per:90%;
$color-1:#e0dede;
$color-2:#d3d1d1;
$color-3:#c4c4c4;
$color-4:#9c9c9c;
$color-5:#8b8b8b;
$color-6:#8f4b4b;