@import url(./_var_test.scss);


@mixin flex-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin root-style {
  width: $width-root;
  height: $height-root;
  background-color: $color-1;
  border: $solid-black;
}  

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin box-style-size($color) {
  width: $width-per;
  height: $height-per;
  background-color: $color;
  border: $solid-black;
}

@mixin box-style($color) {
  background-color: $color;
  border: $solid-black;
}

// ------------------------------------------------------------

#root{
  @include root-style;

  @include flex-c-c;


  &>div{
    @include box-style-size($color: $color-2);
    @include flex-c-c;
    flex-direction: column;

    &>div{
      @include size($w:90%, $h:45% );
      @include box-style($color: $color-3)
    }
  }
}












