* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  background-image: url(https://i.picsum.photos/id/1011/5472/3648.jpg?hmac=Koo9845x2akkVzVFX3xxAc9BCkeGYA9VRVfLE4f0Zzk);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  // flex
  display: flex;
  justify-content: center;
  align-items: center;
}

#root>div {
  width: 50vw;
  height: 20vh;
  border-radius: 2vw;

  // flex
  display: flex;
  justify-content: center;
  align-items: center;
  
  // background-color 값을 rgba() 방식으로 활용하면
  // backdrop-filter 속성(attribute)을 적용할 수 있다.
  background-color: rgba(167, 167, 167, 0.3);
  backdrop-filter: blur(10px);

  // <h1> 텍스트 노드의 글씨
  color:rgba(220, 220, 220,0.8);
}